
@{
    ViewBag.Title = "DisplayEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подтверждение электронной почты</h2>

<h4>На ваш EMail выслано письмо с кодом подтверждения. Проверьте вашу почту.</h4>

